langgraph>=1.0.0
langchain>=1.0.0
langchain-openai>=1.0.0
langchain-anthropic>=1.0.0
langchain-community
langchain-text-splitters>=1.0.0
langchain-tavily>=0.2.13
langchain-qdrant>=1.1.0
jupyter>=1.0.0
langgraph-cli[inmem]>=0.4.0
python-dotenv>=1.1.1
arxiv>=2.3.1
